<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <filter>
    <filter-name>HelloFilter</filter-name>
    <filter-class>com.atguigu.filter.HelloFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>HelloFilter</filter-name>
    <url-pattern>/index1.jsp</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>BFilter</filter-name>
    <filter-class>com.atguigu.filter.BFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>BFilter</filter-name>
    <url-pattern>/index.jsp</url-pattern>
    <dispatcher>ERROR</dispatcher>
  </filter-mapping>
  <filter>
    <filter-name>AFilter</filter-name>
    <filter-class>com.atguigu.filter.AFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AFilter</filter-name>
    <servlet-name>AServlet</servlet-name>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>AServlet</display-name>
    <servlet-name>AServlet</servlet-name>
    <servlet-class>com.atguigu.filter.AServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AServlet</servlet-name>
    <url-pattern>/ee</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>404</error-code>
    <location>/index.jsp</location>
  </error-page>
  <filter>
    <display-name>CFilter</display-name>
    <filter-name>CFilter</filter-name>
    <filter-class>com.atguigu.filter.CFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CFilter</filter-name>
    <url-pattern>/CFilter</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>HttpFilter</display-name>
    <filter-name>HttpFilter</filter-name>
    <filter-class>com.atguigu.filter.HttpFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>HttpFilter</filter-name>
    <url-pattern>/HttpFilter</url-pattern>
  </filter-mapping>
</web-app>